<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
    <link th:href="@{/style/util.css}" rel="stylesheet"/>
<body>
    <div id="wrapper">
        <!--WEB APP LOGO-->
        <div class="center ptb-36">
            <img id="logo" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/trello-header-logos/167dc7b9900a5b241b15ba21f8037cf8/trello-logo-blue.svg">

        </div>
        <!--SIGN UP COMPONENT-->
        <div id="auth-panel">
            <div class="center pb-24">
                <span class="header">Sing up for your account</span>
            </div>


            <form
                    method="post"
                    th:action="@{/signup}"
                    th:object="${user}">

                <input class="input" type="text" placeholder="Email"     th:field="*{email}"    th:required="required">
                <input class="input" type="text" placeholder="Full name" th:field="*{fullname}" th:required="required">
                <input class="input" type="text" placeholder="Username"  th:field="*{username}" th:required="required">
                <input class="input" type="password" placeholder="Password"  th:field="*{password}" th:required="required">

                <button class="input input-button input-button--blue" type="submit"> Sign Up</button>
            </form>


        </div>
    </div>


</body>
</html>