
.input {
    display			: block;
    height			: 35px;
    width			: 100%;
    margin-bottom	: 12px;
    padding			: 0 0 0 5px;
    border			: solid #dedede 2px;
    border-radius	: 3px;
}

.input-button {
    background		: #dedede;
    color			: #fff;
    text-align		: center;
    padding			: 5px;
    font-weight		: bold;
    border			: none;
}

.input-button--blue {
    background		: #0FC1DF;
    color			: #fff;
}
.input-button--blue:hover{
    background		: gray;
    color			: #0FC1DF;
}

.input-button--dark-blue {
    background		: #3944C4;
    color			: #fff;
}

.input-button--dark-blue:hover{
    background		: gray;
    color			: #3944C4;
}
.input-select{
    display         : block;
    width           : 100%;
    border          : solid #dedede 2px;
    padding         : 5px 0;
}

.input-textarea{
    display         : block;
    width           : 100%;
    min-height      : 100px;
    border          : solid #dedede 2px;
}

.label{
    display         : block;
    font-weight     : bold;
    text-transform  : uppercase;
    padding-bottom  : 5px;
}
.job-label{
    display         : block;
    font-weight     : bold;
    text-transform  : lowercase;
    padding-bottom  : 5px;
    padding-top     : 5px;
    padding-left    : 10px;

}