<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="navigation--sidebar" th:fragment="navigation-sidebar(collection)">

        <div>
            <ul>
                <li>Boards</li>
            </ul>
        </div>

        <div>
            <div class="navigation--workspace">
                <span>Workspaces</span>
                <a th:href="@{/create-workspace}">CREATE</a>
            </div>
            <div th:each="workspace :${collection}">
                <div class="navigation--workspace-panel">
                    <div    class="navigation--workspace-panel-title"
                            th:text="${workspace.title}"></div>
                    <ul>
                        <li class="navigation--workspace-item">Boards</li>
                        <li class="navigation--workspace-item">Members</li>
                        <li class="navigation--workspace-item">Settings</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>