*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fafafa;
}
#wrapper{
    margin: auto;
    width: 400px;

}
#logo{
    width: 178px;

}
#auth-panel {
    margin: auto;
    width: 400px;
    padding: 30px 36px;
    background: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px;


}
.header{
    color: rgb(97 108 132);
    font-size: 16px;
    font-family: "Segoe UI";
    font-weight: bold;
}
.input{
    display: block;
    height: 35px;
    width: 100%;
    border: solid #dedede 2px;
    margin-bottom: 12px;
    padding: 0 0 0 5px;
    /*border: darkgray;*/
    font-family: "Segoe UI";
    border-radius: 3px;



}
.input-button {
    background: #0052cc;
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;

}
.input-button--blue{
    background: #0052cc;
    color: #fff;
}
.input-button--green{
    background: #5aac44;
    color: #fff;
}




